

*{
	margin:0;
	padding: 0;
scroll-behavior: smooth;
font-family: 'Space Grotesk', sans-serif;}
html{
	background-color:#ffffff  ;
color: #000000;
}
body{
	
}
img{
	width:100%;
}
/* img:hover{

  transform: scale(2,2)
} */

/* navbar */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
}
.container {
  max-width: 920px;
  margin: 0 auto;
  padding: 0 1rem;
}
.nav {

  width: 100%;
  height: 55px;
  overflow: hidden;
  transition: height .5s ease-in-out;
  position: fixed;
}
.nav-brand, .nav-link, .nav-collapse {
  display: inline-block;
}
.nav-brand, .nav-link {
  color:#ffffff ;
  text-decoration: none;
  line-height: 55px;
  padding: 0 1rem;
  opacity: 0.8;
  cursor: pointer;
}
.nav-brand {
  font-size: 1.25rem;
}
.nav-link {
  font-size: 1rem;
}
.nav-collapse {
  float: right;
}
.toggler {
  float: right;
  width: 40px;
  height: 18px;
  margin: 18.5px 0;
  background: none;
  border: none;
  outline: none;
  display: none;
  opacity: 0.8;
}
.toggler span {
  display: block;
  width: 90%;
  height: 2px;
  background:#ffffff ;
  position: relative;
  transition: .25s ease-in-out;
}
.toggler span:nth-child(1) {
  top: -7.5px;
}
.toggler span:nth-child(2) {
  top: 0;
}
.toggler span:nth-child(3) {
  top: 7.5px;
}

.nav-brand:hover, .nav-link:hover, .toggler:hover, 
.nav-brand:focus, .nav-link:focus, .toggler:focus {
  opacity: 1;
}

.nav.open .toggler span:nth-child(1) {
  transform: translateY(8.5px) rotate(45deg);
}
.nav.open .toggler span:nth-child(2) {
  transform: translateX(-100%);
  width: 0;
  opacity: 0;
}
.nav.open .toggler span:nth-child(3) {
  transform: translateY(-8.5px) rotate(-45deg);
}
.nav.open {
  height: 54vh;
}


 nav.scrolled {
  background: #11a683;
  box-shadow: 0 1px 5px rgba(104,104,104,0.8);
}

@media (max-width: 767px) {
  .nav-collapse, .nav-link {
    float: none;
    display: block;
    
  }
  
  .nav-link {
    text-align: center;
  
   
  }
  .toggler {
    display: block;
  }
}
/*end of navbar*/
.c img{
  width:40%;
}

.c{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.1)),url('3.png');
	height:100vh;
background-position:top;
background-size: cover;
display: flex;
text-align: center;
align-items: flex-end;
justify-content: right;
background-attachment: fixed;
color: white;
}
.c a{
	color: white;
}

.projects h1{
	padding: 30px;
  color:#11a683;
}
.projects{
  background-color:#D5F5E3;
  padding-bottom:30px;
}
.pics{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
	width:70%;
	margin: auto;
  align-items: center;
}
.pics .pic img{
  border-radius:10px;
}
.pic{
	display: flex;
	align-items: center;
	flex-direction: column;
	
}
.pricing{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('money.jpg');
	height:30vh;
background-position:center;
background-size: cover;
display: flex;
text-align: center;
align-items: center;
justify-content: center;
background-attachment: fixed;
color: white;
border-radius:10px;
width:70% ;
margin:50px auto;
}
.prices{
	
	width:70%;
	padding: 20px 30px;
	margin: 40px auto;
	text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

#basic, #advanced, #premium{
  background-color: #D5F5E3;
  padding:30px 60px;
  display: grid;
  grid-gap:50px;
  text-align: left;
  border-radius:5px;
}
#basic i, #advanced i, #premium i{
  color:#D5F5E3;
  background-color:  #11a683;
  border-radius: 5px;
  padding:3px;
}
.word{
	font-size: 20px;
}
.price{
	font-size: 40px;
	padding: 10px;
}
.contacts{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('mMQzYwt6zLANu8uyp333e8.jpg');
	height:30vh;
background-position:center;
background-size: cover;
display: flex;
text-align: center;
align-items: center;
justify-content: center;
background-attachment: fixed;
color: white;
border-radius:10px;
width:70% ;
margin:50px auto;
}

.condetails{
background-color: #D5F5E3;
width:70%;
margin: 30px auto;
text-align: center;
padding: 30px;
color:black;
border-radius:10px;

display: flex;
flex-direction: row;
align-items: center;
}
.condetails img{
  width:40%;
}
.condetails h1{

margin-bottom: 10px;

}
.condetails a{
	text-decoration: none;
  background-color: #11a683;
  color:#fcfeff;
}

.email{

	color: #000000;
	background-color: #ffffff;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px 40px;
	display: inline-grid;
}
.emojis a{
	color: #11a683;
  background-color: #D5F5E3;
	
}
.emojis {
	font-size: 40px;
}

.abpic{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('3.png');
	height:30vh;
background-position:center;
background-size: cover;
display: flex;
text-align: center;
align-items: center;
justify-content: center;
background-attachment: fixed;
color: white;
border-radius:10px;
width:70% ;
margin:50px auto;
}

.about{
width: 70%;
padding: 30px;
margin:20px auto;
color:#fcfeff;
background-color: #3250C3;
border-radius: 5px;
display: flex;
flex-direction: row;
align-items: center;

}

.about img{
  width:40%;
}

#abdiv{
  display: grid;
  grid-gap:20px;
}

.footer{
	padding: 30px;
	margin-top: 30px ;
	text-align: center;
	background-color: #849fff;
  color: #fcfeff;
}





/*media QUeries*/
@media(max-width: 1024px){
.pics{
  width:80%;
}
.condetails{

width:60%;
margin: 30px auto;
text-align: center;
padding: 40px;

}


}


@media(max-width: 766px){
.pics{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  width:70%;
  margin: auto;
}
.condetails{

width:60%;
margin: 30px auto;
text-align: center;
padding: 40px;

}


}


@media(max-width: 710px){
.pics{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  width:80%;
  margin: auto;
}
.condetails{

width:60%;
margin: 30px auto;
text-align: center;
padding: 50px;

}


}

@media(max-width: 682px){
.pics{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  width:80%;
  margin: auto;
}
.condetails{

width:80%;
margin: 30px auto;
text-align: center;
padding: 50px;

}
.contacts,.abpic,.pricing{

  width:90%;
}

}


@media(max-width: 572px){

  .c{

    height:80vh;
  }
.pics{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  width:90%;
  margin: auto;
}
.condetails{

width:80%;
margin: 30px auto;
text-align: center;
padding: 50px;

}

.contacts,.abpic,.pricing{

  width:100%;
  border-radius:0;
}
}


@media(max-width: 551px){
.pics{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  width:70%;
  margin: auto;
}
.contacts{

  margin-bottom:0;
}
.condetails{

width:100%;
margin:0;
text-align: center;
padding: 60px;
border-radius:0;

}


.abpic{
  margin-top: 0px;
}

}
@media(max-width: 491px){

  .prices{
    width:80%;
  }
}

@media(max-width: 403px){
.pics{
 
  width:97%;
  margin: auto;
}

.condetails{

width:100%;
margin:0;
text-align: center;
padding: 30px;

}

}
